@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


h2 {
    font-size: xx-large;
}

h3 {
   font-size: x-large;
}

h4 {
    font-size: large;
}

table {
    @apply border-collapse border border-slate-400 mx-auto;
}
table th,
table td {
    @apply border border-slate-300 p-2
}

figure, figure img {
    @apply mx-auto
}

.editor__editable,
    /* Classic build. */
main .ck-editor[role='application'] .ck.ck-content,
    /* Decoupled document build. */
.ck.editor__editable[role='textbox'],
.ck.ck-editor__editable[role='textbox'],
    /* Inline & Balloon build. */
.ck.editor[role='textbox'] {
    width: 100%;
    background: #fff;
    font-size: 1em;
    line-height: 1.6em;
    min-height: 75vh;
    max-height: 75vh;
    padding: 1.5em 2em;
    @apply overflow-y-auto;
}